.header {
    padding: 17px 0;
    border-bottom: 1px solid #D6D6D6;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: 172px;
    font-weight: 500;
    color: #292929;
}

.header-nav ul {
    display: flex;
    gap: 70px;
}

.header-link {
    transition: all .3s ease-in-out;
}

.header-link:hover {
    color: #019960;
}

.header-button {
    margin-left: auto;
}

.header-signin {
    padding: 5px;
    color: #000;
    margin-right: 35px;
    transition: all .3s ease-in-out;
}

.header-signin:hover {
    color: #019960;
}

.header-starttrial {
    padding: 13px 50px;
    color: #fff;
    border-radius: 4px;
    border: 2px solid transparent;
    background-color: #019960;
    transition: all .3s ease-in-out;
}

.header-starttrial:hover {
    color: #019960;
    border: 2px solid #019960;
    background-color: #fff;
}