.how-it-works {
    padding: 169px 0 51px;
}

.how-it-works-header {
    padding-bottom: 52px;
    display: flex;
    justify-content: space-between;
}

.how-it-works-header-head {
    min-width: 584px;
    margin-right: 136px;
}

.how-it-works-title {
    margin-bottom: -3px;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 157%;
}

.how-it-works-subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
}

.how-it-works-header-content {
    max-width: 671px;
}

.how-it-works-paragraf {
    padding-top: 58px;
    line-height: 150%;
}

.how-it-works-steps {
    display: flex;
    flex-wrap: wrap;
    gap: 95px;
}

.step-item {
    max-width: 390px;
}

.step-item:nth-child(2) {
    padding-top: 287px;
}

.step-item:nth-child(3) {
    padding-top: 54px;
}

.step-title {
    position: relative;
    margin-bottom: 55px;
    padding-top: 135px;
    padding-left: 88px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: #000000;
}

.step-2 {
    padding-left: 77px;
}

.step-3 {
    padding-left: 124px;
}

.step-title::before {
    content: attr(data-number);
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 150px;
    line-height: 150%;
    color: rgba(1, 153, 109, 0.2);
}

.step-paragraf {
    margin-bottom: 60px;
    line-height: 150%;
}

.step-img-container {
    position: relative;
    padding-bottom: 126%;
}

.step-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}