.product {
    padding: 120px 0 168px;
}

.product-container {
    display: flex;
    justify-content: space-between;
}

.product-img-container {
    position: relative;
    padding: 0 0 74px 68px;
}

.product-img {
    border-radius: 18px;
}

.product-card {
    max-width: 296px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 4px;
    background-color: #fff;
}

.card {
    max-width: 296px;
    padding: 23px 55px 30px 61px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
}

.card-title {
    position: relative;
    padding: 0 10px;
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 14.49px;
    line-height: 157%;
    color: #000;
}

.card-title::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #000;
    background-color: #000;
} 

.avatar {
    margin-bottom: 20px;
}

.avatar-img {
    margin-bottom: 11px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-name {
    font-size: 11.9351px;
    line-height: 157%;
    text-align: center;
    color: #000000;
}

.card-contents-title {
    margin-bottom: 16px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 15.9292px;
    line-height: 157%;
    color: #000000;
}

.card-item {
    font-size: 10.6195px;
    line-height: 157%;
    color: #000000;
}

.card-list {
    margin-bottom: 16px;
    list-style-type: circle;
    list-style-position: inside;
}

.product-content {
    max-width: 584px;
}

.product-content-title {
    margin-bottom: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
}

.product-content-subtitle {
    margin-bottom: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
}

.product-content-text {
    margin-bottom: 40px;
    line-height: 31px;
}

.product-content-paragraf {
    width: 530px;
}