.story {
    padding: 229px 0 176px;
    color: #fff;
    background-color: #245852;
}

.story-container {
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.story-content {
    max-width: 580px;
}

.story-title {
    margin-bottom: 33px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
}

.story-text {
    margin-bottom: 57px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
}

.story-video {
    width: 895px;
}

.story-video-container {
    position: relative;
    padding-top: 57.65%;
}

.story-video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.story-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.story-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
