.story {
    padding: 229px 0 176px;
    color: #fff;
    background-color: #245852;
}

.story-container {
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 1535px) {
    .story-container {
        width: 100%;
    }
}

.story-content {
    max-width: 580px;
}

.story-title {
    margin-bottom: 33px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
}

.story-text {
    margin-bottom: 57px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
}

.story-video {
    width: 895px;
    max-width: 100%;
}

.story-video-container {
    position: relative;
    padding-top: 57.65%;
}

.story-video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.story-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.story-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

@media (max-width: 1199px) {
    .story {
        padding: 90px 0;
    }

    .story-container {
        flex-direction: column-reverse;
    }

    .story-title {
        font-size: 40px;
        line-height: 130%;
    }

    .story-text {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 130%;
    }
}

@media (max-width: 991px) {
    .story {
        padding: 60px 0;
    }

    .story-title {
        font-size: 30px;
    }

    .story-text {
        font-size: 18px;
    }
}
